# Ignore file named "plan.txt"
plan.txt
# Ignore vscode dir ".vscode"
.vscode
# Ignore vscode dir "__pycache__"
__pycache__
__pycache__/geo_info.cpython-36.pyc
# Ignore file name "api_keys.py"
api_keys.py